@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --main-theme: #b6a2d5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  display: table;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#upper {
  background-color: #A9C9FF;
  background-image: linear-gradient(270deg, #bdd5ff 0%, #f3a0d9 100%);
  color: white;
  font-size: 15px;
  text-align: center;
  height: 20px;

  position: sticky;
  top: 0;
  z-index: 20;
}

/* Slogan */
#slogan {
  background-color: #b6a2d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slogan h1 {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
  color: white;
}

/* Fin du Slogan */

/* Meilleurs Ventes */
#bestsells {
  background-color: #A9C9FF;
  background-image: linear-gradient(270deg, #f3a0d9 0%, #bdd5ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bestsells h1 {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
  color: white;
}

/* Fin du Slogan */

footer {
  display: table-row;
  height: 100px;
}

/* Card */
.cards .card img {
  width: 200px;
  height: 300px;
  transition: all 1s ease;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.cards .card img .card-page {
  width: 300px;
  height: 450px;
}

.card-gestion {
  width: 50px;
  height: 70px;
}

div .card .text-center:hover>*:not(.card-body, .card-icon, div .card-button) {
  transition: all 1s ease;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* Fin Card */

@media screen and (max-width: 640px) {

  nav .onglets .link,
  nav h1 {
    display: none;
  }
}

/* 404 */
.text-center {
  text-align: center;
}